{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row">
  <div class='small-12 columns'>
	<h1 class='text-center'>Welcom Home</h1>
  </div>
</div>

<form method='POST'>
<div class='row'>
{% for f in form %}
  <div class='small-12 large-6 columns'>
    {{ f.label }}
    {{ f }}
</div>
{% endfor %}
<div class='small-12 large-2 small-centered columns'>
<input type='submit' class='primary button expanded' value='submit'>
</div>
</div>
</form>

{% endblock %}
